+svgicon_link('https://vk.com/v_gnatovsky','vk','soc_link','soc_icon')
+svgicon_link('https://github.com/Gnatovsky','github','soc_link','soc_icon')
+svgicon_link('https://vk.com/v_gnatovsky','in','soc_link','soc_icon')