.soc
  +svgicon_link('https://vk.com/v_gnatovsky','vk','soc__link','soc__icon')
  +svgicon_link('https://github.com/Gnatovsky','github','soc__link','soc__icon')
  +svgicon_link('https://vk.com/v_gnatovsky','in','soc__link','soc__icon')