.welcome
  .welcome__img
    include ../common/ava
  .welcome__name
    p.welcome__title
      | Владимир Гнатовский
    p Личный сайт веб разработчика
  .welcome__soc
    include ../common/soc
  .welcome__menu
    include ../common/mainmenu