@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic');

@font-face{
  font-family: 'sansus';
  src:  url('fonts/sansus-webissimo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}