extends ../_hello

block variables
  - var title = 'Владимир Гатовский'

block header_hello
  include ../common/hello_menu
block content_hello
  include ../common/welcome
block footer_hello
  include ../common/copyrigh