.soc{
  display: flex;
}
.soc__link{
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 40px;
  &:first-child{
    margin-left: 0;
  }
}
.soc__icon{
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: rgba($whith, 0.5);
  transition: 0.3s;
  &:hover {
    fill: $green;
  }
}