.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper_hello{
  background-image: url(/assets/img/decor/water.jpg);
  background-size: cover;
}
.wrapper__header{
  display: flex;
  flex-direction: row-reverse;
  padding: 40px 100px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%);
}
.wrapper__content{
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__footer{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
}